<%
content_for(:title, "About argeli.us")
content_for(:description, "Information about the blog.")
%>

<h3>About me</h3>

<p>My name is Andreas Argelius and I'm an developer interested in language, web development and image analysis. This blog is mainly used to post articles about code and language.</p>

<p>I've been a student of the Japanese language since 2008. よろしく！</p>

<h4>Links</h4>

<dl>
<dt>
<a href="http://mynakama.se/">Nakama</a>
</dt>
<dd>
<p>A Japanese dictionary application using Ruby on Rails.</p>
</dd>

<dt>
<a href="http://github.com/argelius">Github</a> and <a href="http://bitbucket.org/argelius">Bitbucket</a> accounts
</dt>
<dd>
<p>Current open source projects.</p>
</dd>

